<html>
<head>
  <title>Node JS Backend</title>
  <meta name="description" content="Our first page">
  <meta name="keywords" content="html tutorial template">
  <link rel="styelsheet" href="/css/styles.css">
</head>
<body>
  <h1>Index.ejs</h1>
  <a href="/api/metrics"><button>Metrics</button></a>
  <a href="/api/months"><button>Months</button></a>
  <a href="/api/years"><button>Years</button></a>
  <a href="/api/users"><button>Users</button></a>
</body>
</html>
